* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(bg.png);
    background-size: 100%;
    background-color: #16161650;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#typingText {
    width: 400px;
    margin-right: 200px;
    font-size: 100px;
    font-weight: bolder;
    color: #f0f0f0;
    text-align: center;
    text-shadow: #ffffff;
    background-color: #621fae;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login .loginArea {
    margin-left: 50px;
    margin-right:50px;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.77);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register .registerArea {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.77);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #913bb9;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #a742d6;
    text-align: center;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #8f20d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #670be8a0;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color:#a742d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#errorMessage,
#successMessage {
    color: red;
}
